@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;1,400;1,500&display=swap");
:root {
  --priamry-color: #161616;
  --on-priamry-color: #e7e5e3;
  --priamry-container-color: #161616;
  --on-priamry-container-color: #e7e5e3;
  --header-1: calc(20px + 7.2vw);
  --header-4: calc(15px + 1.3vw);
  --p: calc(10px + 0.5vw);
  --border-size: 2px;
  --border-color: var(--base-color);
  --border-radius: 0;
}

body {
  font-family: 'Archivo', Noto Sans TC, sans-serif;
  overflow-x: hidden;
}

body * {
  font-weight: 500;
  line-height: 90%;
}

.logotype {
  font-size: calc(20px + 8.2vw);
}

.img {
  border-radius: 20px;
  object-position: center;
  object-fit: cover;
}

img {
  pointer-events: none;
}

[data-scroll-container] {
  padding: calc(10px + 1vw);
}

.content img {
  margin: 15px 0;
}

.LovelyFace {
  width: 25vmin;
  position: absolute;
  top: 30vmax;
  right: -12vmin;
}

.LovelyFace_works {
  width: 25vmin;
  position: absolute;
  top: 17vmax;
  right: 12vmin;
}

.BigArrow {
  position: absolute;
  width: 22vw;
  top: 5vmin;
  left: 2vmin;
}

.SmallStar {
  width: 2.5vw;
  position: absolute;
}

.Waa {
  width: 5.5vw;
  position: absolute;
}

.BtnCell {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3vmax;
  width: 30vmin;
}

.Yaaaa {
  position: absolute;
  right: 17vmax;
  top: 6vmax;
  width: 22vmax;
}

.PhoneCall {
  position: absolute;
  bottom: -15vmax;
  right: -100vw;
  left: -91vw;
  margin: auto;
  width: 30vmax;
}

.menu-background {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.menu-bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100% !important;
}

.menu-close-btn {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}
